# Dependencies
node_modules/
sc/lib/

# Framework/Build Artifacts
.next/
dist/
build/
coverage/
.dapp/

# Foundry Artifacts (Ignore everywhere)
out/
cache/
broadcast/

# Environment Variables
.env*
dapp/.env*

# IDE/System
.DS_Store
*.log
.idea/
.vscode/